.container {
    display: block;
}

.close {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 98;
}

.table-wrapper {
    background-color: #FFFF;
    position: absolute;
    top: 0;

    font-family: var(--main-primary-font-familly), cursive;
    font-size: 12px;

    width: 100%;
    padding: 20px 0;
    box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
    z-index: 99;
    display: none;
}

.table-wrapper h1 {
    margin-bottom: 20px;
    padding: 0 30px;

    font-family: var(--main-secondary-font-familly);
    font-size: 18px;
}

table {
    width: 100%;
}

tr {
    border-collapse: collapse;
    border-top: 1px solid;
}

td {
    padding: 10px 30px;

}

.table-wrapper .cercle {
    position: absolute;
    left: 80%;
    display: flex;
}

.btn-icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid;
    background-color: var(--main-secondare-color);
    margin: 0 10px 0 0 ;
}

.search-wrapper {
    width: 100vw;
    position: absolute;
    top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-wrapper .search {
    width: 300px;
    position: absolute;
    padding: 5px;
    border: 1px solid;
    border-radius: 20px;

    font-family: var(--main-primary-font-familly);
}

.map {
    background-image: url("../img/toulouse-map.png");
    height: 100vh;
    width: 100%;
}

.parking {
    position: absolute;
    bottom: 30%;
    left: 40%;
    z-index: 99;
}

.parking-icon {
    width: 30px;
    height: 30px;
}

.localisation {
    position: absolute;
    bottom: 50%;
    left: 2%;
    z-index: 99;
}

.search-wrapper .icon{
    width: 20px;
    height: 20px;

    position: relative;
    top: 0;
    right: 0;
    left: 130px;
}  

nav .icon {
    width: 30px;
    height: 30px;
    foncolor: #FFFF;
}

nav {
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    background-color: var(--main-secondare-color);
}

nav ul li a {
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}