:root{
    --main-primaty-color: red;
    --main-secondare-color: #87CEEB;
    --main-font-color: #0000;
    --main-primary-font-familly: @import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
    --main-secondary-font-familly: @import url('https://fonts.googleapis.com/css2?family=Share&family=Share+Tech&display=swap');
    --main-font-size: 14;
}

